.drink-image{
  width:400px
}

.drink-info {
  overflow: hidden;
  width: 100%;
}

.drink {
width: 35%;
float: left;
}

.drink-inst {
  width:30%;
  float: left;
}

.list {
  float: left;
}

.instructions {
  width: 100%
}
