.drink-image{
  width:400px
}

.drink {
  text-align: left;
  margin: 30px 0px 0px 30px
}

.list{ 
  float:left;
  width:30%;
}

ul.measures {
  list-style-type: none;
}

.instructions {
  width: 50%
}